@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html:charset=utf-8">
    <title> NPS </title>
    <link rel="stylesheet" href="../../Content/style.css">
</head>

<body>
    <div class="basepesquisa">
        <div class="question">Qual a probabilidade de você recomendar nosso serviço para um amigo?</div>
        <button class="button">0</button>
        <button class="button">1</button>
        <button class="button">2</button>
        <button class="button">3</button>
        <button class="button">4</button>
        <button class="button">5</button>
        <button class="button">6</button>
        <button class="button">7</button>
        <button class="button">8</button>
        <button class="button">9</button>
        <button class="button">10</button>

        <br><br><br><br>
        <div class="question">Porque você nos deu nota 6?</div>
        <input type="text" id="resp" name="resp" value="" placeholder=" " size="80"></input>

        <br><br><br><br>
        <div class="question">O que você diria ao nos recomendar?</div>
        <input type="text" id="recomend" name="recomend" value="" placeholder=" " size="80"></input>

        <br><br><br><br>
        <div class="question">Que dica você daria para merecermos a nota 10?</div>
        <input type="text" id="dica" name="dica" value="" placeholder=" " size="80"></input>

    </div>

</body>

</html>




