
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html:charset=utf-8">
    <title> NPS </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../../Content/style.css">
</head>


<body>
    <div class="base">
        <center>
            <img style="width:30%; height:30% " src="../../img/sorriso2.png" />

            <div class="form">
                <div class="text">NPS</div>
                <form action="/Users/SaveLogin" method="post" charset="utf-8">

                    <input type="email" id="email" name="email" value="" placeholder="E-mail" style="outline:none;" required size="25" />

                    <input type="password" id="password" name="password" class="email" value="" placeholder="Senha" required style="outline: none;" charset="utf-8" size="25" />
                    <p>
                        <input type="submit" style="width:80%;height:35px; background-color: #696969; color: white;outline: none;" value="Entrar" placeholder="" charset="utf-8" />
                </form>
            </div>

        </center>

    </div>

</body>

</html>