.navbar-header {
  background-color: #4e791e;
}
.navbar-content {
  background-color: #4e791e;
  box-shadow: inset -4px 0 0 0 #54abd9;
}
.navbar-header:before {
  background-color: #4e791e;
}
#navbar-container {
  background-color: #4e791e;
}