.navbar-header {
  background-color: #312a50;
}
.navbar-content {
  background-color: #312a50;
  box-shadow: inset -4px 0 0 0 #54abd9;
}
.navbar-header:before {
  background-color: #312a50;
}
#navbar-container {
  background-color: #312a50;
}